@charset "ISO-8859-1";

body{
	margin:0;
	background-image: url("../img/wallpaper.jpg");
}
.container {
	margin-top:45px;
	display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  	gap: 75px;
}

.card{
	height: 600px;
	background: rgb(255, 255, 255);
	border-radius: 25px;
	overflow: scroll;
	opacity: 0.8;
}



.list-group-item{
	background: rgba(255, 255, 255, 0.123);
}

#frase-piu{
	overflow: auto;
	height: 65px;
}
