<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="css/styles.css">
	<title>Qualcosa di spiacevole è accaduto :(</title>
	<link rel="icon" th:href="@{/img/parolfy.png}">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js" integrity="sha512-cdV6j5t5o24hkSciVrb8Ki6FveC2SgwGfLE31+ZQRHAeSRxYhAQskLkq3dLm8ZcWe1N3vBOEYmmbhzf7NTtFFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<div>
<h1>Qualcosa non ha funzionato! </h1>
<h2>Prova a ricaricare l'homepage.</h2>
<a href="/">Homepage</a>
</div>
</body>
<style>

	h1, h2{
	text-align: center;
	padding-bottom: 75px;
	}
	
	a{
	position: relative;
	left: 47%;
	padding-top: 25px;
	}
	
	div{
	position: relative;
	top: 275px;
	}
	
</style>
</html>

